variables:
  BUILD_LEDGER_APP: |
    docker pull $CI_REGISTRY_IMAGE/ledger-app-builder:$CI_COMMIT_REF_SLUG || true
    apk add --update git
    git clone https://github.com/LedgerHQ/ledger-app-builder.git TMP
    cd TMP/full &&
    git checkout 79a7c077b6c0223dca614ef391e8df93ef2ca40e &&
    docker build --cache-from $CI_REGISTRY_IMAGE/ledger-app-builder:$CI_COMMIT_REF_SLUG \
                 --tag $CI_REGISTRY_IMAGE/ledger-app-builder:$CI_COMMIT_REF_SLUG        \
                 --tag ledger-app-builder:$CI_COMMIT_REF_SLUG                           \
           .
    docker push $CI_REGISTRY_IMAGE/ledger-app-builder:$CI_COMMIT_REF_SLUG
  BUILD_LEDGER_APP_TEZOS_OCAML: |
    docker pull $CI_REGISTRY_IMAGE/ledger-app-tezos-ocaml:$CI_COMMIT_REF_SLUG || true
    docker build --cache-from $CI_REGISTRY_IMAGE/ledger-app-tezos-ocaml:$CI_COMMIT_REF_SLUG \
                 --tag $CI_REGISTRY_IMAGE/ledger-app-tezos-ocaml:$CI_COMMIT_REF_SLUG        \
                 --tag ledger-app-tezos-ocaml:$CI_COMMIT_REF_SLUG                           \
                 -f docker/Dockerfile.ocaml                                                 \
           docker
    docker push $CI_REGISTRY_IMAGE/ledger-app-tezos-ocaml:$CI_COMMIT_REF_SLUG
  BUILD_LEDGER_APP_TEZOS_INTEGRATION_TESTS: |
    docker pull $CI_REGISTRY_IMAGE/ledger-app-tezos-integration-tests:$CI_COMMIT_REF_SLUG || true
    docker build --cache-from $CI_REGISTRY_IMAGE/ledger-app-tezos-integration-tests:$CI_COMMIT_REF_SLUG \
                 --tag $CI_REGISTRY_IMAGE/ledger-app-tezos-integration-tests:$CI_COMMIT_REF_SLUG        \
                 --tag ledger-app-tezos-integration-tests:$CI_COMMIT_REF_SLUG                           \
                 -f docker/Dockerfile.integration-tests                                                 \
           docker
    docker push $CI_REGISTRY_IMAGE/ledger-app-tezos-integration-tests:$CI_COMMIT_REF_SLUG

.build_docker_template: &build_docker
  services:
    - docker:20.10.16-dind
  variables:
    BUILD_VOLUME: VOL_$CI_JOB_ID
  image: docker:20.10.16
  stage: prepare
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  rules:
    - if: $CI_MERGE_REQUEST_IID || $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - docker/*
        - .gitlab-ci-build-docker.yml

build docker ledger-app-builder:
  <<: *build_docker
  script:
    - eval "$BUILD_LEDGER_APP"

build docker ledger-app-tezos-ocaml:
  <<: *build_docker
  script:
    - eval "$BUILD_LEDGER_APP_TEZOS_OCAML"

build docker ledger-app-tezos-integration-tests:
  <<: *build_docker
  script:
    - eval "$BUILD_LEDGER_APP_TEZOS_INTEGRATION_TESTS"

sync docker images:
  services:
    - docker:20.10.16-dind
  variables:
    BUILD_VOLUME: VOL_$CI_JOB_ID
  image: docker:20.10.16
  stage: sync
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    # https://gitlab.com/gitlab-org/gitlab-runner/-/blob/main/Makefile.build.mk#L63
    - export TARGET_REF_SLUG=$(echo $CI_MERGE_REQUEST_TARGET_BRANCH_NAME | cut -c -63 | sed -E 's/[^a-z0-9-]+/-/g' | sed -E 's/^-*([a-z0-9-]+[a-z0-9])-*$$/\1/g')
  script:
    - if docker manifest inspect $CI_REGISTRY_IMAGE/ledger-app-builder:$TARGET_REF_SLUG ; then
        docker manifest create $CI_REGISTRY_IMAGE/ledger-app-builder:$CI_COMMIT_REF_SLUG $CI_REGISTRY_IMAGE/ledger-app-builder:$TARGET_REF_SLUG ;
        docker manifest push $CI_REGISTRY_IMAGE/ledger-app-builder:$CI_COMMIT_REF_SLUG ;
      elif ! docker manifest inspect $CI_REGISTRY_IMAGE/ledger-app-builder:$CI_COMMIT_REF_SLUG ; then
        eval "$BUILD_LEDGER_APP" ;
      fi
    - if docker manifest inspect $CI_REGISTRY_IMAGE/ledger-app-tezos-ocaml:$TARGET_REF_SLUG ; then
        docker manifest create $CI_REGISTRY_IMAGE/ledger-app-tezos-ocaml:$CI_COMMIT_REF_SLUG $CI_REGISTRY_IMAGE/ledger-app-tezos-ocaml:$TARGET_REF_SLUG ;
        docker manifest push $CI_REGISTRY_IMAGE/ledger-app-tezos-ocaml:$CI_COMMIT_REF_SLUG ;
      elif ! docker manifest inspect $CI_REGISTRY_IMAGE/ledger-app-tezos-ocaml:$CI_COMMIT_REF_SLUG ; then
        eval "$BUILD_LEDGER_APP_TEZOS_OCAML" ;
      fi
    - if docker manifest inspect $CI_REGISTRY_IMAGE/ledger-app-tezos-integration-tests:$TARGET_REF_SLUG ; then
        docker manifest create $CI_REGISTRY_IMAGE/ledger-app-tezos-integration-tests:$CI_COMMIT_REF_SLUG $CI_REGISTRY_IMAGE/ledger-app-tezos-integration-tests:$TARGET_REF_SLUG ;
        docker manifest push $CI_REGISTRY_IMAGE/ledger-app-tezos-integration-tests:$CI_COMMIT_REF_SLUG ;
      elif ! docker manifest inspect $CI_REGISTRY_IMAGE/ledger-app-tezos-integration-tests:$CI_COMMIT_REF_SLUG ; then
        eval "$BUILD_LEDGER_APP_TEZOS_INTEGRATION_TESTS" ;
      fi
  only:
    - merge_requests
  except:
    - $CI_DEFAULT_BRANCH
