/_build
/app/.target
/app/bin
/app/build
/app/debug
/app_baking/bin
/app_baking/build
/app_baking/debug
/app/dep
/app/obj
/app/output-scan-build/
/app/src/glyphs.c
/app/src/glyphs.h
/app_*.tgz
/integration_tests.json
/pattern_registry
/tests/samples

tags
__pycache__
