include:
  - local: .gitlab-ci-build-docker.yml
  - local: .gitlab/build-template.yml
  - local: .gitlab/integration-template.yml

stages:
  - sync
  - prepare
  - generate
  - build
  - test

generate_builtin_patterns:
  image: $CI_REGISTRY_IMAGE/ledger-app-tezos-ocaml:$CI_COMMIT_REF_SLUG
  stage: generate
  script:
    - make -C pattern_registry
  artifacts:
    paths:
      - app/src/parser/generated_patterns.h

generate_samples:
  image: $CI_REGISTRY_IMAGE/ledger-app-tezos-ocaml:$CI_COMMIT_REF_SLUG
  stage: generate
  script:
    - mkdir -p tests/samples/micheline
    - mkdir -p tests/samples/operations
    - dune exec ./tests/generate/generate.exe micheline 1000 nanos tests/samples/micheline
    - dune exec ./tests/generate/generate.exe operations 1000 nanos tests/samples/operations
  artifacts:
    paths:
      - tests/samples

build_nanos:
  extends: .build_app
  variables:
    DEVICE_APP: nanos
    DEVICE_SDK: NANOS_SDK

build_nanos_dbg:
  extends: .build_app
  variables:
    DEVICE_APP: nanos_dbg
    DEVICE_SDK: NANOS_SDK
    DEBUG: "true"

build_nanosp:
  extends: .build_app
  variables:
    DEVICE_APP: nanosp
    DEVICE_SDK: NANOSP_SDK

build_nanosp_dbg:
  extends: .build_app
  variables:
    DEVICE_APP: nanosp_dbg
    DEVICE_SDK: NANOSP_SDK
    DEBUG: "true"

build_nanox:
  extends: .build_app
  variables:
    DEVICE_APP: nanox
    DEVICE_SDK: NANOX_SDK

build_nanox_dbg:
  extends: .build_app
  variables:
    DEVICE_APP: nanox_dbg
    DEVICE_SDK: NANOX_SDK
    DEBUG: "true"

unit:
  image: $CI_REGISTRY_IMAGE/ledger-app-tezos-ocaml:$CI_COMMIT_REF_SLUG
  stage: test
  script:
    - make -C tests/unit
  needs:
    - generate_samples

integration_nanos_basic:
  extends: .integration-basic
  needs:
    - build_nanos_dbg
  variables:
    DEVICE: nanos

integration_nanosp_basic:
  extends: .integration-basic
  needs:
    - build_nanosp_dbg
  variables:
    DEVICE: nanosp

integration_nanox_basic:
  extends: .integration-basic
  needs:
    - build_nanox_dbg
  variables:
    DEVICE: nanox

integration_nanos_micheline_samples:
  image:
    name: ghcr.io/ledgerhq/speculos:sha-90a021a
    entrypoint: [""]
  stage: test
  needs:
    - build_nanos_dbg
    - generate_samples
  script:
    - apt update && apt install -y curl jq
    - SPECULOS=/speculos/speculos.py COLUMNS=80 ./tests/integration/run_test_local.sh nanos app_nanos_dbg.tgz tests/samples/micheline
  artifacts:
    when: always
    paths:
    - integration_tests.json

integration_nanos_operations_samples:
  image:
    name: ghcr.io/ledgerhq/speculos:sha-90a021a
    entrypoint: [""]
  stage: test
  needs:
    - build_nanos_dbg
    - generate_samples
  script:
    - apt update && apt install -y curl jq
    - SPECULOS=/speculos/speculos.py COLUMNS=80 ./tests/integration/run_test_local.sh nanos app_nanos_dbg.tgz tests/samples/operations
  artifacts:
    when: always
    paths:
    - integration_tests.json
