include:
  - template: 'Workflows/MergeRequest-Pipelines.gitlab-ci.yml'
  - local: .gitlab-ci-build-docker.yml
  - local: .gitlab/generate-template.yml
  - local: .gitlab/build-template.yml
  - local: .gitlab/integration-template.yml

stages:
  - sync
  - prepare
  - generate
  - build
  - test

generate_builtin_patterns:
  image: $CI_REGISTRY_IMAGE/ledger-app-tezos-ocaml:$CI_COMMIT_REF_SLUG
  stage: generate
  script:
    - make -C pattern_registry
  artifacts:
    paths:
      - app/src/parser/generated_patterns.h

generate_samples_nanos:
  extends: .generate_samples
  variables:
    DEVICE: nanos

build_nanos:
  extends: .build_app
  variables:
    DEVICE_APP: nanos
    DEVICE_SDK: NANOS_SDK

build_nanos_dbg:
  extends: .build_app
  variables:
    DEVICE_APP: nanos_dbg
    DEVICE_SDK: NANOS_SDK
    DEBUG: "true"

build_nanosp:
  extends: .build_app
  variables:
    DEVICE_APP: nanosp
    DEVICE_SDK: NANOSP_SDK

build_nanosp_dbg:
  extends: .build_app
  variables:
    DEVICE_APP: nanosp_dbg
    DEVICE_SDK: NANOSP_SDK
    DEBUG: "true"

build_nanox:
  extends: .build_app
  variables:
    DEVICE_APP: nanox
    DEVICE_SDK: NANOX_SDK

build_nanox_dbg:
  extends: .build_app
  variables:
    DEVICE_APP: nanox_dbg
    DEVICE_SDK: NANOX_SDK
    DEBUG: "true"

unit:
  image: $CI_REGISTRY_IMAGE/ledger-app-tezos-ocaml:$CI_COMMIT_REF_SLUG
  stage: test
  script:
    - make -C tests/unit
  needs:
    - generate_samples_nanos

integration_nanos_basic:
  extends: .integration
  needs:
    - build_nanos_dbg
  variables:
    DEVICE: nanos
    TESTDIR: tests/integration/nanos

integration_nanosp_basic:
  extends: .integration
  needs:
    - build_nanosp_dbg
  variables:
    DEVICE: nanosp
    TESTDIR: tests/integration/nanosp

integration_nanox_basic:
  extends: .integration
  needs:
    - build_nanox_dbg
  variables:
    DEVICE: nanox
    TESTDIR: tests/integration/nanox

integration_nanos_micheline_samples:
  extends: .integration
  needs:
    - build_nanos_dbg
    - generate_samples_nanos
  variables:
    DEVICE: nanos
    TESTDIR: tests/samples/micheline/nanos

integration_nanos_operations_samples:
  extends: .integration
  needs:
    - build_nanos_dbg
    - generate_samples_nanos
  variables:
    DEVICE: nanos
    TESTDIR: tests/samples/operations/nanos
