include:
  - template: 'Workflows/MergeRequest-Pipelines.gitlab-ci.yml'
  - local: .gitlab-ci-build-docker.yml
  - local: .gitlab/generate-template.yml
  - local: .gitlab/build-template.yml
  - local: .gitlab/integration-template.yml

stages:
  - sync
  - prepare
  - generate
  - build
  - test

generate_samples_nanos:
  extends: .generate_samples
  variables:
    DEVICE: nanos

generate_samples_nanosp:
  extends: .generate_samples
  variables:
    DEVICE: nanosp

generate_samples_nanox:
  extends: .generate_samples
  variables:
    DEVICE: nanox

build_nanos:
  extends: .build_app
  variables:
    DEVICE: nanos

build_nanosp:
  extends: .build_app
  variables:
    DEVICE: nanosp

build_nanox:
  extends: .build_app
  variables:
    DEVICE: nanox

build_stax:
  extends: .build_app
  variables:
    DEVICE: stax

unit:
  image: $CI_REGISTRY_IMAGE/ledger-app-tezos-ocaml:$CI_COMMIT_REF_SLUG
  stage: test
  script:
    - make -C tests/unit
  needs:
    - generate_samples_nanos

integration_nanos_basic:
  extends: .integration
  needs:
    - build_nanos
  variables:
    DEVICE: nanos
    TESTDIR: tests/integration/nanos

integration_nanosp_basic:
  extends: .integration
  needs:
    - build_nanosp
  variables:
    DEVICE: nanosp
    TESTDIR: tests/integration/nanosp

integration_nanox_basic:
  extends: .integration
  needs:
    - build_nanox
  variables:
    DEVICE: nanox
    TESTDIR: tests/integration/nanox

integration_stax_basic:
  extends: .integration
  needs:
    - build_stax
  variables:
    DEVICE: stax
    TESTDIR: tests/integration/stax

integration_nanos_micheline_samples:
  extends: .integration
  needs:
    - build_nanos
    - generate_samples_nanos
  variables:
    DEVICE: nanos
    TESTDIR: tests/samples/micheline/nanos

integration_nanosp_micheline_samples:
  extends: .integration
  needs:
    - build_nanosp
    - generate_samples_nanosp
  variables:
    DEVICE: nanosp
    TESTDIR: tests/samples/micheline/nanosp

integration_nanox_micheline_samples:
  extends: .integration
  needs:
    - build_nanox
    - generate_samples_nanox
  variables:
    DEVICE: nanox
    TESTDIR: tests/samples/micheline/nanox

integration_nanos_operations_samples:
  extends: .integration
  needs:
    - build_nanos
    - generate_samples_nanos
  variables:
    DEVICE: nanos
    TESTDIR: tests/samples/operations/nanos

integration_nanosp_operations_samples:
  extends: .integration
  needs:
    - build_nanosp
    - generate_samples_nanosp
  variables:
    DEVICE: nanosp
    TESTDIR: tests/samples/operations/nanosp

integration_nanox_operations_samples:
  extends: .integration
  needs:
    - build_nanox
    - generate_samples_nanox
  variables:
    DEVICE: nanox
    TESTDIR: tests/samples/operations/nanox
