/build
**/_build
/app/.target
/app/bin
/app/build
/app/debug
/app/dep
/app/obj
/app/output-scan-build/
/app/src/glyphs.c
/app/src/glyphs.h
/app_*.tgz
/integration_tests.json
/integration_tests_log
/pattern_registry
/tests/samples
/*env/

tags
__pycache__
