[MESSAGES CONTROL]
disable=
    broad-exception-caught,
    global-statement,
    line-too-long,
    protected-access,
    redefined-outer-name,
    too-few-public-methods,
    too-many-arguments,
    too-many-instance-attributes,
    too-many-positional-arguments,
    too-many-statements,
