name: Swap functional tests

on:
  workflow_dispatch:
  push:
    branches:
    - main
    - develop
  pull_request:

jobs:
  job_functional_tests:
    uses: LedgerHQ/app-exchange/.github/workflows/reusable_swap_functional_tests.yml@develop
    with:
      repo_for_exchange: 'spalmer25/app-exchange'
      branch_for_exchange: 'palmer@functori@bump-tezos-to-seoul-protocol'
      branch_for_tezos: ${{ github.ref }}
      repo_for_tezos: ${{ github.repository }}
      test_filter: '"tezos"'
